In [1]:
import pandas as pd
import numpy as np




import warnings
warnings.filterwarnings('ignore')  # esto es para quitar prints

pd.set_option('display.max_columns', None)   # mostrar todas las columnas del df
pd.set_option('display.max_rows', None)   # mostrar todas las filas del df

In [2]:
from sqlalchemy import create_engine

str_conn='mysql+pymysql://root:ironhack@localhost:3306' #Conectar al servidor

cursor=create_engine(str_conn) #Cursor que apunta al servidor

# cursor.execute('drop database if exists videos;') #Lanzar query en el servidor, borra SCHEMA si existe

# cursor.execute('create database SCHEMA;') #Crear SCHEMA

str_conn='mysql+pymysql://root:ironhack@localhost:3306/videos' #Conexión a SCHEMA

cursor_db=create_engine(str_conn) #Cursor que apunta a SCHEMA

#DATAFRAME.to_sql(name='NOMBRE_DATAFRAME', con=cursor_db, if_exists='replace', index=False)

1 - NÚMERO DE PELICULAS POR CATEGORÍA

In [4]:
query='''

SELECT x.name, COUNT(x.name) as Num_pelis
FROM (
SELECT c.name 
FROM categories c
LEFT JOIN films f ON c.category_id = f.category_id
) as x
GROUP BY x.name
ORDER BY Num_pelis DESC;

'''

df_sql1=pd.read_sql(query, cursor_db)

df_sql1

           name  Num_pelis
0     Animation         50
1        Sports         46
2        Horror         45
3           New         45
4   Documentary         44
5        Action         43
6         Drama         40
7       Foreign         40
8      Classics         38
9        Sci-Fi         36
10       Family         34
11     Children         32
12       Comedy         32
13       Travel         32
14        Music         31
15        Games         26

In [5]:
df_sql.Num_pelis.sum()

614

2 - 5 PRIMEROS ACTORES CON MÁS PELÍCULAS

In [9]:
query='''

SELECT x.ACTOR, COUNT(x.film_id) as Num_pelis
FROM (
SELECT CONCAT(a.first_name, ' ', a.last_name) as ACTOR, a.actor_id, o.film_id
FROM actores a
LEFT JOIN oldHDD o ON a.actor_id = o.actor_id
) as x
GROUP BY x.actor_id
ORDER BY Num_pelis DESC
LIMIT 5;

'''

df_sql2=pd.read_sql(query, cursor_db)

df_sql2

           ACTOR  Num_pelis
0  SANDRA KILMER         37
1     VAL BOLGER         35
2       UMA WOOD         35
3  JULIA MCQUEEN         33
4   RIP CRAWFORD         33

In [ ]:
3 - PELIS DE ACCION O CIENCIA FICCION PARA TODOS LOS PUBLICOS QUE DUREN MENOS DE UNA HORA Y MEDIA

In [12]:
query='''

SELECT f.title, f.length, c.name as categoria, f.rating   
from films f
LEFT JOIN categories c ON f.category_id = c.category_id
WHERE c.name in ('Sci-Fi', 'Action') AND f.length < 90 AND f.rating = 'G';

'''

df_sql3=pd.read_sql(query, cursor_db)

df_sql3

                    title  length categoria rating
0          EXCITEMENT EVE      51    Action      G
1       MIDNIGHT WESTWARD      86    Action      G
2           PRIMARY GLASS      53    Action      G
3     RINGS HEARTBREAKERS      58    Action      G
4                SIDE ARK      52    Action      G
5  WATERFRONT DELIVERANCE      61    Action      G
6           WEREWOLF LOLA      79    Action      G
7           CHEAPER CLYDE      87    Sci-Fi      G
8     COLDBLOODED DARLING      70    Sci-Fi      G
9         DAISY MENAGERIE      84    Sci-Fi      G

4 - LA MEDIA DE DURACIÓN DE LAS PELIS DE ANIMACIÓN Y NIÑOS

In [14]:
query='''

SELECT z.categoria, AVG(z.length) as Media_duracion
FROM (
SELECT  f.length, c.name as categoria   
from films f
LEFT JOIN categories c ON f.category_id = c.category_id
WHERE c.name in ('Animation', 'Children')
) as z
GROUP BY z.categoria;

'''

df_sql4=pd.read_sql(query, cursor_db)

df_sql4

   categoria  Media_duracion
0  Animation        113.9800
1   Children        106.1563

5 - LAS 15 PELIS MÁS ALQUILADAS

In [15]:
query='''

SELECT f.title, y.Num_alquileres
FROM (
SELECT z.film_id, COUNT(*) Num_alquileres
FROM (
SELECT i.film_id 
from rental r
LEFT JOIN inventory i ON r.inventory_id = i.inventory_id
) as z
GROUP BY z.film_id 
) as y
LEFT JOIN films f  ON f.film_id = y.film_id
ORDER BY y.Num_alquileres DESC
LIMIT 15

'''

df_sql5=pd.read_sql(query, cursor_db)

df_sql5

                     title  Num_alquileres
0            BOOGIE AMELIE               4
1              ANTHEM LUKE               3
2           CANDLES GRAPES               3
3       BUCKET BROTHERHOOD               3
4           BINGO TALENTED               3
5     BARBARELLA STREETCAR               3
6              CLOSER BANG               3
7          CENTER DINOSAUR               3
8       BUTTERFLY CHOCOLAT               3
9     CHICKEN HELLFIGHTERS               3
10  CONFIDENTIAL INTERVIEW               3
11           COAST RAINBOW               3
12           CHEAPER CLYDE               3
13          CELEBRITY HORN               3
14        AFFAIR PREJUDICE               2

6 - PELI Y LISTA DE ACTORES QUE PARTICIPAN, DONDE HAYA MÁS DE 4 ACTORES

In [16]:
query='''

SELECT z.title, COUNT(actor) as N_actores, GROUP_CONCAT(z.actor) as atores
FROM (
SELECT f.title, CONCAT(a.first_name, ' ', a.last_name) as actor
FROM oldHDD o
LEFT JOIN films f ON o.film_id = f.film_id
LEFT JOIN actores a ON a.actor_id = o.actor_id
) as z
GROUP BY z.title
HAVING N_actores > 4
;

'''

df_sql6=pd.read_sql(query, cursor_db)

df_sql6

,title,N_actores,atores
0,BOONDOCK BALLROOM,6,"ED CHASE,FRED COSTNER,JENNIFER DAVIS,KIRSTEN P..."
1,CHITTY LOCK,5,"ELVIS MARX,JOHNNY LOLLOBRIGIDA,LUCILLE TRACY,S..."
2,CONEHEADS SMOOCHY,5,"ALEC WAYNE,AUDREY OLIVIER,DAN TORN,JOHNNY LOLL..."
3,FLASH WARS,5,"DAN TORN,KIRSTEN PALTROW,MATTHEW JOHANSSON,NIC..."
4,OKLAHOMA JUMANJI,5,"CUBA OLIVIER,JENNIFER DAVIS,KARL BERRY,PENELOP..."
5,STRANGER STRANGERS,5,"AUDREY OLIVIER,HELEN VOIGHT,SANDRA KILMER,TOM ..."

7 - CREAR UAN TABAL TEMPORAL CON LOS ALQUILERES Y UNA NUEVA COLUMNA QUE CALCULE EL TIEMPO DE ALQUILER

In [23]:


sql = '''

create temporary table videos.rental_times

SELECT rental_id, inventory_id, rental_date, return_date, DATEDIFF(return_date,rental_date) as tiempo_entrega  
FROM rental;

'''

,rental_id,inventory_id,rental_date,return_date,tiempo_entrega
0,1,367,2005-05-24 22:53:30,2005-05-26 22:04:30,2
1,16,389,2005-05-25 00:43:11,2005-05-26 04:42:11,1
2,17,830,2005-05-25 01:06:36,2005-05-27 00:43:36,2
3,21,146,2005-05-25 01:59:46,2005-05-26 01:01:46,1
4,22,727,2005-05-25 02:19:23,2005-05-26 04:52:23,1
5,29,611,2005-05-25 03:47:12,2005-05-30 00:31:12,5
6,37,403,2005-05-25 04:44:31,2005-05-29 01:03:31,4
7,42,380,2005-05-25 05:24:58,2005-05-31 02:47:58,6
8,60,330,2005-05-25 08:58:25,2005-05-30 14:14:25,5
9,62,261,2005-05-25 09:18:52,2005-05-30 10:55:52,5
10,64,79,2005-05-25 09:21:29,2005-06-03 11:31:29,9
11,67,239,2005-05-25 09:41:01,2005-05-27 13:46:01,2
12,73,517,2005-05-25 11:00:07,2005-06-01 13:56:07,7
13,83,466,2005-05-25 12:30:15,2005-05-27 15:40:15,2
14,85,470,2005-05-25 13:05:34,2005-05-29 16:53:34,4
15,91,139,2005-05-25 14:57:22,2005-06-01 18:32:22,7
16,92,775,2005-05-25 15:38:46,2005-05-31 13:40:46,6
17,95,178,2005-05-25 16:12:52,2005-06-02 18:55:52,8
18,99,535,2005-05-25 16:50:20,2005-05-28 18:52:20,3
19,101,617,2005-05-25 17:17:04,2005-05-31 19:47:04,6
20,102,373,2005-05-25 17:22:10,2005-05-31 19:47:10,6
21,105,794,2005-05-25 17:54:12,2005-05-30 12:03:12,5
22,115,749,2005-05-25 19:13:25,2005-05-29 20:17:25,4
23,118,872,2005-05-25 19:31:18,2005-05-31 15:00:18,6
24,120,37,2005-05-25 19:37:47,2005-06-01 23:29:47,7
25,124,212,2005-05-25 20:46:11,2005-05-30 00:47:11,5
26,125,952,2005-05-25 20:48:50,2005-06-02 21:39:50,8
27,131,815,2005-05-25 21:42:46,2005-05-30 23:25:46,5
28,133,399,2005-05-25 21:48:30,2005-05-30 00:26:30,5
29,135,103,2005-05-25 21:58:58,2005-06-03 17:50:58,9
30,139,327,2005-05-25 23:00:21,2005-05-29 17:12:21,4
31,140,655,2005-05-25 23:34:22,2005-05-27 01:10:22,2
32,141,811,2005-05-25 23:34:53,2005-06-02 01:57:53,8
33,143,847,2005-05-25 23:45:52,2005-05-27 21:41:52,2
34,147,633,2005-05-26 00:17:50,2005-05-29 23:21:50,3
35,150,909,2005-05-26 00:28:39,2005-06-01 02:10:39,6
36,155,288,2005-05-26 01:15:05,2005-06-01 00:03:05,6
37,157,887,2005-05-26 01:25:21,2005-05-26 21:17:21,0
38,167,865,2005-05-26 02:50:31,2005-05-27 03:07:31,1
39,176,851,2005-05-26 03:47:39,2005-06-01 02:36:39,6
40,189,984,2005-05-26 06:01:41,2005-05-27 06:11:41,1
41,195,506,2005-05-26 06:52:36,2005-05-31 02:47:36,5
42,196,190,2005-05-26 06:55:58,2005-05-27 10:54:58,1
43,201,776,2005-05-26 07:13:45,2005-06-04 02:02:45,9
44,202,674,2005-05-26 07:27:36,2005-06-02 03:52:36,7
45,205,303,2005-05-26 07:59:37,2005-05-29 09:43:37,3
46,207,102,2005-05-26 08:04:38,2005-05-27 09:32:38,1
47,209,729,2005-05-26 08:14:01,2005-05-27 09:00:01,1
48,212,764,2005-05-26 08:34:41,2005-05-30 12:46:41,4
49,215,679,2005-05-26 09:02:47,2005-05-28 09:45:47,2
50,225,651,2005-05-26 10:27:50,2005-06-01 07:01:50,6
51,227,214,2005-05-26 10:51:46,2005-05-30 07:24:46,4
52,228,511,2005-05-26 10:54:28,2005-06-04 09:39:28,9
53,233,715,2005-05-26 11:43:44,2005-05-28 17:28:44,2
54,237,241,2005-05-26 12:15:13,2005-05-29 18:10:13,3
55,238,503,2005-05-26 12:30:22,2005-05-27 06:49:22,1
56,239,131,2005-05-26 12:30:26,2005-06-01 13:26:26,6
57,250,368,2005-05-26 14:30:24,2005-05-27 08:50:24,1
58,259,30,2005-05-26 15:32:46,2005-06-04 15:27:46,9
59,260,435,2005-05-26 15:42:20,2005-05-31 13:21:20,5
60,270,207,2005-05-26 16:20:56,2005-06-03 12:40:56,8
61,272,971,2005-05-26 16:27:11,2005-06-03 13:10:11,8
62,274,656,2005-05-26 16:48:51,2005-06-03 18:17:51,8
63,278,182,2005-05-26 17:40:58,2005-06-02 16:43:58,7
64,279,661,2005-05-26 18:02:50,2005-06-03 18:48:50,8
65,284,350,2005-05-26 19:21:44,2005-06-04 14:18:44,9
66,286,314,2005-05-26 19:44:51,2005-06-04 18:00:51,9
67,291,485,2005-05-26 20:20:47,2005-06-03 02:06:47,8
68,300,249,2005-05-26 20:57:00,2005-06-05 01:34:00,10
69,308,187,2005-05-26 22:01:39,2005-06-04 20:24:39,9
70,310,593,2005-05-26 22:41:07,2005-06-02 04:09:07,7
71,317,26,2005-05-26 23:23:56,2005-06-01 19:56:56,6
72,337,751,2005-05-27 03:22:30,2005-06-02 03:27:30,6
73,340,946,2005-05-27 03:55:25,2005-06-04 07:57:25,8
74,355,141,2005-05-27 06:15:33,2005-06-01 02:50:33,5
75,361,6,2005-05-27 07:03:28,2005-05-31 08:01:28,4
76,364,833,2005-05-27 07:20:12,2005-05-31 10:44:12,4
77,366,360,2005-05-27 07:33:54,2005-06-04 01:55:54,8
78,369,944,2005-05-27 07:46:49,2005-06-01 06:20:49,5
79,383,955,2005-05-27 10:12:20,2005-06-03 10:37:20,7
80,384,910,2005-05-27 10:18:20,2005-06-02 09:21:20,6
81,388,434,2005-05-27 10:37:27,2005-05-30 05:45:27,3
82,389,691,2005-05-27 10:45:41,2005-06-05 06:22:41,9
83,392,263,2005-05-27 11:14:42,2005-06-01 14:28:42,5
84,393,145,2005-05-27 11:18:25,2005-05-28 07:10:25,1
85,395,752,2005-05-27 11:45:49,2005-05-31 13:42:49,4
86,399,553,2005-05-27 12:48:38,2005-05-29 15:27:38,2
87,400,258,2005-05-27 12:51:44,2005-05-31 08:34:44,4
88,402,461,2005-05-27 13:17:18,2005-05-30 08:53:18,3
89,420,619,2005-05-27 15:19:38,2005-06-03 15:07:38,7
90,429,129,2005-05-27 16:21:26,2005-06-05 20:23:26,9
91,439,354,2005-05-27 17:54:48,2005-06-02 23:01:48,6
92,444,723,2005-05-27 18:39:15,2005-06-01 15:56:15,5
93,451,205,2005-05-27 19:27:54,2005-05-29 01:07:54,2
94,459,597,2005-05-27 20:00:04,2005-05-29 22:47:04,2
95,463,826,2005-05-27 20:11:47,2005-06-04 21:18:47,8
96,465,20,2005-05-27 20:44:36,2005-06-02 02:43:36,6
97,467,339,2005-05-27 21:10:03,2005-06-01 16:08:03,5
98,473,802,2005-05-27 21:36:34,2005-06-05 17:02:34,9
99,478,424,2005-05-27 22:38:20,2005-05-31 18:39:20,4
100,481,72,2005-05-27 22:49:27,2005-05-30 17:46:27,3
101,488,393,2005-05-28 00:07:50,2005-06-03 22:30:50,6
102,493,184,2005-05-28 00:34:11,2005-05-30 18:40:11,2
103,498,458,2005-05-28 01:01:21,2005-05-30 21:20:21,2
104,501,601,2005-05-28 01:09:36,2005-05-30 06:14:36,2
105,505,71,2005-05-28 02:06:37,2005-05-29 06:57:37,1
106,506,667,2005-05-28 02:09:19,2005-06-05 20:34:19,8
107,513,225,2005-05-28 03:08:10,2005-05-29 07:22:10,1
108,517,234,2005-05-28 03:17:57,2005-05-29 06:33:57,1
109,527,266,2005-05-28 04:28:38,2005-06-02 08:19:38,5
110,534,992,2005-05-28 06:15:25,2005-06-06 07:51:25,9
111,543,530,2005-05-28 06:43:34,2005-06-06 07:16:34,9
112,546,487,2005-05-28 07:16:25,2005-06-01 08:36:25,4
113,552,23,2005-05-28 07:53:38,2005-06-04 12:45:38,7
114,557,158,2005-05-28 08:36:22,2005-06-03 10:42:22,6
115,560,644,2005-05-28 08:53:02,2005-06-04 12:27:02,7
116,561,928,2005-05-28 08:54:06,2005-06-05 05:54:06,8
117,563,53,2005-05-28 09:10:49,2005-06-06 11:32:49,9
118,577,375,2005-05-28 11:09:14,2005-06-01 13:27:14,4
119,586,898,2005-05-28 12:03:00,2005-05-29 13:16:00,1
120,588,95,2005-05-28 12:08:37,2005-05-29 16:25:37,1
121,590,473,2005-05-28 13:06:50,2005-06-02 09:18:50,5
122,591,377,2005-05-28 13:11:04,2005-05-29 17:20:04,1
123,592,638,2005-05-28 13:21:08,2005-05-29 16:55:08,1
124,595,595,2005-05-28 13:59:54,2005-06-05 15:16:54,8
125,596,821,2005-05-28 14:00:03,2005-05-29 17:10:03,1
126,598,599,2005-05-28 14:04:50,2005-06-03 18:00:50,6
127,613,270,2005-05-28 15:27:22,2005-06-02 20:01:22,5
128,614,280,2005-05-28 15:33:28,2005-06-04 12:27:28,7
129,616,989,2005-05-28 15:45:39,2005-06-02 09:55:39,5
130,626,452,2005-05-28 16:58:09,2005-06-01 14:02:09,4
131,627,425,2005-05-28 17:04:43,2005-06-04 19:58:43,7
132,633,58,2005-05-28 17:37:59,2005-06-03 22:49:59,6
133,640,495,2005-05-28 18:43:26,2005-05-30 13:39:26,2
134,642,140,2005-05-28 18:49:12,2005-06-01 20:50:12,4
135,651,739,2005-05-28 19:46:50,2005-05-30 16:29:50,2
136,653,126,2005-05-28 20:12:20,2005-06-04 14:44:20,7
137,655,331,2005-05-28 20:16:20,2005-05-31 16:46:20,3
138,657,848,2005-05-28 20:23:09,2005-06-01 02:11:09,4
139,664,87,2005-05-28 21:31:08,2005-06-02 20:56:08,5
140,667,797,2005-05-28 21:49:02,2005-05-31 03:07:02,3
141,670,227,2005-05-28 22:04:03,2005-06-06 22:43:03,9
142,672,697,2005-05-28 22:05:29,2005-06-06 02:10:29,9
143,679,907,2005-05-28 23:24:57,2005-06-06 21:59:57,9
144,689,742,2005-05-29 00:46:53,2005-06-03 23:48:53,5
145,692,800,2005-05-29 01:32:10,2005-06-02 03:54:10,4
146,693,635,2005-05-29 01:42:31,2005-06-03 02:29:31,5
147,694,592,2005-05-29 01:49:43,2005-06-05 06:52:43,7
148,699,130,2005-05-29 02:11:44,2005-06-04 20:23:44,6
149,700,500,2005-05-29 02:18:54,2005-05-30 05:54:54,1
150,701,372,2005-05-29 02:26:27,2005-06-03 04:59:27,5
151,707,819,2005-05-29 03:18:19,2005-05-30 02:45:19,1
152,710,194,2005-05-29 03:48:36,2005-06-03 05:03:36,5
153,716,85,2005-05-29 04:35:29,2005-06-01 07:42:29,3
154,719,267,2005-05-29 05:16:05,2005-06-01 07:53:05,3
155,726,933,2005-05-29 06:05:29,2005-06-05 04:40:29,7
156,728,242,2005-05-29 06:12:38,2005-06-03 07:41:38,5
157,737,769,2005-05-29 08:11:31,2005-06-04 11:18:31,6
158,740,600,2005-05-29 08:30:36,2005-06-04 12:47:36,6
159,742,273,2005-05-29 08:36:30,2005-06-05 11:30:30,7
160,745,581,2005-05-29 09:22:57,2005-06-01 09:10:57,3
161,750,730,2005-05-29 09:41:40,2005-05-30 13:31:40,1
162,754,734,2005-05-29 10:18:59,2005-06-04 05:03:59,6
163,765,515,2005-05-29 11:38:34,2005-06-02 17:04:34,4
164,767,687,2005-05-29 12:20:19,2005-06-02 14:15:19,4
165,771,353,2005-05-29 12:59:14,2005-06-01 16:05:14,3
166,773,245,2005-05-29 13:18:05,2005-06-07 17:22:05,9
167,777,451,2005-05-29 14:07:58,2005-06-03 08:41:58,5
168,779,533,2005-05-29 14:17:17,2005-06-06 16:46:17,8
169,781,88,2005-05-29 14:23:58,2005-05-30 17:44:58,1
170,785,39,2005-05-29 15:08:41,2005-05-30 15:51:41,1
171,788,763,2005-05-29 16:13:55,2005-05-31 16:40:55,2
172,789,708,2005-05-29 16:17:07,2005-06-06 18:15:07,8
173,793,379,2005-05-29 16:44:08,2005-06-06 19:21:08,8
174,795,609,2005-05-29 16:57:39,2005-06-01 11:33:39,3
175,800,441,2005-05-29 17:28:12,2005-05-30 14:59:12,1
176,802,785,2005-05-29 17:38:59,2005-05-31 22:42:59,2
177,816,630,2005-05-29 20:26:39,2005-06-06 22:31:39,8
178,817,186,2005-05-29 20:39:14,2005-05-31 18:24:14,2
179,819,623,2005-05-29 21:00:32,2005-06-02 15:15:32,4
180,825,712,2005-05-29 21:49:41,2005-06-04 20:27:41,6
181,827,62,2005-05-29 21:58:43,2005-06-06 00:54:43,8
182,835,299,2005-05-29 23:37:00,2005-06-02 23:38:00,4
183,837,977,2005-05-30 00:02:08,2005-06-02 05:31:08,3
184,844,536,2005-05-30 00:58:20,2005-06-01 00:38:20,2
185,846,938,2005-05-30 01:17:45,2005-06-01 00:56:45,2
186,854,921,2005-05-30 01:56:11,2005-06-01 06:34:11,2
187,860,578,2005-05-30 02:45:16,2005-06-08 07:28:16,9
188,874,363,2005-05-30 05:36:21,2005-06-01 09:32:21,2
189,877,886,2005-05-30 05:48:59,2005-06-02 09:30:59,3
190,881,602,2005-05-30 06:15:36,2005-06-02 10:21:36,3
191,885,646,2005-05-30 06:54:28,2005-06-03 07:03:28,4
192,888,387,2005-05-30 07:13:14,2005-06-06 09:50:14,7
193,892,471,2005-05-30 08:02:56,2005-06-05 12:51:56,6
194,901,760,2005-05-30 09:40:40,2005-06-02 10:32:40,3
195,918,818,2005-05-30 11:32:24,2005-05-31 07:55:24,1
196,928,246,2005-05-30 12:27:14,2005-06-05 13:56:14,6
197,932,719,2005-05-30 12:55:36,2005-05-31 10:30:36,1
198,936,901,2005-05-30 13:52:49,2005-06-07 16:56:49,8
199,944,151,2005-05-30 15:26:24,2005-06-07 18:09:24,8
200,948,585,2005-05-30 15:44:27,2005-06-08 17:30:27,9
201,950,491,2005-05-30 16:06:08,2005-06-01 11:43:08,2
202,956,647,2005-05-30 17:30:28,2005-06-07 13:54:28,8
203,958,548,2005-05-30 17:58:03,2005-06-01 19:17:03,2
204,964,657,2005-05-30 18:53:21,2005-06-04 22:32:21,5
205,968,119,2005-05-30 19:20:03,2005-05-31 18:17:03,1
206,969,443,2005-05-30 19:23:48,2005-05-31 21:14:48,1
207,972,2,2005-05-30 20:21:07,2005-06-06 00:36:07,7
208,978,407,2005-05-30 21:30:52,2005-06-07 16:22:52,8
209,983,63,2005-05-30 22:15:51,2005-06-02 22:56:51,3
210,987,390,2005-05-30 22:59:12,2005-06-07 20:56:12,8
211,995,17,2005-05-31 00:06:02,2005-06-06 02:30:02,6

In [25]:
query='''

SELECT  *
FROM rental_times;

'''



df_sql7=pd.read_sql(query, cursor_db)

df_sql7.head()

,rental_id,inventory_id,rental_date,return_date,tiempo_entrega
0,1,367,2005-05-24 22:53:30,2005-05-26 22:04:30,2
1,16,389,2005-05-25 00:43:11,2005-05-26 04:42:11,1
2,17,830,2005-05-25 01:06:36,2005-05-27 00:43:36,2
3,21,146,2005-05-25 01:59:46,2005-05-26 01:01:46,1
4,22,727,2005-05-25 02:19:23,2005-05-26 04:52:23,1